.listMenu__buttonLayout {
    opacity: 0.6;
}
.main{
    width: 100%;
    background-color: rgb(187 181 181 / 20%);
}
.classTitle {
    font-size: 30px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid #c4bcbc;
    font-weight: border;
    text-shadow: 3px 3px 10px rgba(38, 41, 67, 0.3);
}
.classTitleName {
    margin-left: 40px;
    padding: 10px;
    color: #0c0707;
    font-family: OCRB;
}
.classTitleName2 {
    margin-left: 65px;
    margin-top: 7px;
}
.listClassMenu__button {
    font-size: 14px;
    color: #fff;
    background-color: #1877f2;
    display: flex;
    border-radius: 800px;
    box-shadow: 3px 3px 10px rgba(39,51,145, .3);
    justify-content: center;
    padding: 5px 0px;
    align-items: center;
    width: 170px;
    transition: 0.5s;
}
.classWraper {
    display: flex;
}
.classMenu {
    border-right: 1px solid #c4bcbc;
    width: 220px;
    height: 100vh;
    padding-top: 20px;
}
.listClass__button1 {
    margin-top: 25px;
    margin-bottom: -5px;
    display: flex;
    justify-content: center;
}
.listClass__button1:hover {
    opacity: 0.6;
}
.listClassMneu__button--classMember {
    padding: 5px 15px;
    font-size: 11px;
    opacity: 0.6;
}
.listClassMenu__button--learningRecords {
    padding: 5px 15px;
    font-size: 11px;
    margin-top: 10px;
    font-size: 14px;
}
.listClassMenu__button--wacthPicture {
    padding: 5px 15px;
    font-size: 11px;
    margin-top: 10px;
    font-size: 14px;
}
.classMember {
    opacity: 0.6;
}
.class_member__message {
    font-size: 15px;
    padding: 40px 20px;
}
