body {
    background-color: rgb(187,181,181,20%);
    width: 100%;
}
.listMenu__title {
    font-size: 16px;
    font-weight: bold;
    padding: 7px 7px;
}
.delate {
    display: none !important;
}
/* main*/
.main {
    display: flex;
}
.login-page {
    width: 55%;
}
.login-pageTitle {
    padding: 20px;
    margin-left: 30px;
    margin-top: 50px;
}
.login-pageTitle-h2 {
    font-size: 40px;
    padding-top: 30px;
    color: #3c3838;
    text-shadow: 3px 3px 10px rgba(38, 41, 67, 0.3);
    font-weight: bolder;
}
.login-pageTitle-h1 {
    font-size: 50px;
    color: #009fff;
    text-shadow: 3px 3px 10px rgba(38, 41, 67, 0.3);
    font-weight: bolder;
}
.login-pageTitleExplanation {
    font-size: 20px;
    margin-top: 30px;
    line-height: 1.5;
}
/* sideMenu */
.sideMenu {
    display: flex;
    justify-content: space-between;
    padding-top:0px;
}
.login-form {
    background-color: #ffffff;
    background-size: 500px;
    width: 380px;
    margin: 100px 240px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(39,51,145, .3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 30px;
}
.login-formTitle {
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: bolder;
}
.login-formInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.passwordTitle {
    font-size: 18px;
    margin: -5px 62px;
    margin-top: 10px;
    margin-bottom: -13px;
}
.login-formInput::placeholder {
    color: #999696;
}
.login-formInput {
    border: 1px solid #b9b3b3;
    font-size: 14px;
    border-radius: 10px;
    margin: 8px 0;
    width: 261px;
    padding: 7px 15px;
}
.schoolIdTitle {
    font-size: 18px;
    margin: -10px 62px;
    margin-bottom: -3px;
}
.login-formSchoolId {
    border: 1px solid #b9b3b3;
    font-size: 21px;
    border-radius: 10px;
    margin: 10px 65px;
    padding: 2px;
}
.login-formButton {
    font-size: 20px;
    color: #fff;
    background-color: #1877f2;
    display: flex;
    border-radius: 500px;
    box-shadow: 3px 3px 10px rgba(39,51,145, .3);
    justify-content: center;
    align-items: center;
    width: 250px;
    transition: 0.5s;
    margin: 20px 0px 10px 0px;
    cursor: pointer;
}
.login-form_false_Button {
    font-size: 20px;
    color: #fff;
    background-color: #1877f2;
    display: flex;
    border-radius: 500px;
    box-shadow: 3px 3px 10px rgba(39,51,145, .3);
    justify-content: center;
    align-items: center;
    width: 250px;
    transition: 0.5s;
    margin: 20px 0 10px 0px;
    cursor: pointer;
}
.login-formButton:hover {
    opacity: 0.6;
}
.login-form_false_Button:hover {
    opacity: 0.6;
}
.login-form-subText {
    font-size: 12px;
    color: #009fff;
}
.login-form-subText:hover {
    opacity: 0.6;
}
.error_message {
    font-size: 15px;
}
