/*main*/
.main__contents {
    width: 60%;
}
.mainTitle {
    background-color: #f1f0f0;
    padding: 20px;
    width: 100%;
}
.mainTitle__h1 {
    font-size: 30px;
    width: 100%;
    font-family: OCRB;
    font-weight: bold;
}
.mainTitle__ul {
    margin-top: 20px;
}
.mainTitle__li {
    font-size: 18px;
    font-family: OCRB;
}
.main {
    background-size: cover;
    width: 100%;
    display: flex;
}
.main__image {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainVisual {
    width: 80%;
}
.mainMap {
    height:calc(100% - 187.2px);
    width: 100%;
}
.mainMap__frame {
    width: 100%;
    height: 100%;
}

.mainTitle__link {
    font-size: 18px;
    color: #2536f5;
    font-family: OCRB;
    transition: 0.5s;
}
.mainTitle__link:hover {
    opacity: 0.6;
}